<% include ./partials/header %>

 <div class="location info">
    <div class="caption">
        <span class = "border">
          <h3 style  ="font-size: 50px; color: white;"> <strong> LOCATION & CONTACT INFO </strong></h3>
        </span>
        <p style = "color: white;font-size: 20px;">All Location open Monday-Thursday, 8am-11pm & Friday-Sunday, 11am-11pm</p>
    </div>
</div>

<div class = "intro">
    <div class = "container" style = "margin: 0 120px;">
        <div class = "row">
            <div class = "col-lg-4 col-sm-6">
                <h3>Brooklyn</h3>
                <h4>376 Van Brunt St <br>
                    Brooklyn, NY — 11231 <br>
                    999-999-9999
                </h4>
            </div>
            <div class = "col-lg-4 col-sm-6">
                <h3> New York</h3></h3>
                <h4>376 Van Brunt St <br>
                    New York, NY — 11287 <br>
                    999-999-9999
                </h4>
            </div>
            <div class = "col-lg-4 col-sm-6">
                <h3>Chicago</h3>
                <h4>376 Van Brunt St <br>
                    Chicago, IL — 42343 <br>
                    999-999-9999
                </h4>
            </div>
        </div>
    </div>
</div>

&emsp; &emsp; &emsp; 

<div class = "intro">
    <div class = "container">
        <div class="wrap">
            <div class="fleft">
                <h3> MEDIA <br> INQUIRIES</h3>
                <h4>999-999-9999 <br> media@restaurant.com</h4>
                <h3>PUBLIC <br>  RELATIONS</h3>
                <h4>999-999-9999 <br> pr@restaurant.com</h4>
                <h5>For all other questions please use form on the right</h5>
            </div>
            <div class="fright">
                <form>
                    <label for="email">Email Adress:</label><br>
                    <input type = "text" name = "email"> 
                    <label for="subject">Subject:</label><br>
                    <input type = "text" name = "subject"> 
                    <label for="message">Message:</label><br>
                    <textarea rows = "5" name = "message"></textarea> 
                    <button class= "btn btn-default btn-lg">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>