<% include ./partials/header %>

 <div class="menu info">
    <div class="caption">
        <span class = "border">
          <h3 style  ="font-size: 50px; color: white;"> <strong> MENU</strong></h3>
        </span>
    </div>
</div>

<div class = "intro">
  <h3 style = "color: black; font-size: 40px; text-align: center;"> APPETIZERS </h3>
  <div class = "container">
      <div class = "row">
          <div class = "col-lg-4 col-sm-6">
        	  <h3>
        		   <span id = "makeleft"> Fried Spring Rolls</span> 
        		   <span id = "makeright">$2.95</span>
        	   </h3>
    	       <h5 id ="h5left"> chicken or vegetable</h5>
    	   </div>
    	   
    	    <div class = "col-lg-4 col-sm-6">
        		<h3>
        		    <span id = "makeleft"> Salt & Pepper Shrimp</span> 
        		    <span id = "makeright">$ 10.00</span> 
        		</h3>
    		    <h5 id ="h5left"> wild pacific shrimp, lightly fried, pesto aioli</h5>
    	    </div>
    	    
        	<div class = "col-lg-4 col-sm-6">
        		<h3>
        		    <span id = "makeleft"> Chicken Tortilla Soup</span> 
        		    <span id = "makeright">$7.95</span> 
        		</h3>
        	    <h5 id = "h5left"> avocado poblano salsa, crispy tortillas, cilantro </h5>
        	</div>
        	
        	<div class = "col-lg-4 col-sm-6">
        		<h3>
        		    <span id = "makeleft"> Wild Mushroom Soup</span> 
        		    <span id = "makeright">$9.00</span> 
        		</h3>
        	    <h5 id = "h5left"> vegetarian with cream, six types of mushrooms</h5>
        	</div>
        	
        	<div class = "col-lg-4 col-sm-6">
        		<h3>
        		    <span id = "makeleft"> Roasted Chicken Salad</span> 
        		    <span id = "makeright">$14.00</span> 
        		</h3>
        	    <h5 id = "h5left"> roasted free-range chicken, cabbage, radishes, sugar snap peas, marcona almonds, peanut vinaigrette</h5>
        	</div>
        	
        	<div class = "col-lg-4 col-sm-6">
        		<h3>
        		    <span id = "makeleft"> Oysters (each)</span> 
        		    <span id = "makeright">$3</span> 
        		</h3>
            	<h5 id = "h5left"> today's fresh selection, champagne mignonette, cocktail sauce</h5>
        	</div>
        </div>
    </div>

    <hr>

    <h3 style = "color: black; font-size: 40px; text-align: center;"> ENTRÉES </h3>
       <p style = "text-align: center;">All dishes are served with a side of soup/salad and french fries</p>
        <div class = "container">
            <div class = "row">
               <div class = "col-lg-4 col-sm-6">
            	  <h3>
            		   <span id = "makeleft"> Marinated Skirt Steak</span> 
            		   <span id = "makeright">$29.00</span>
            	   </h3>
        	       <h5 id ="h5left">hand-cut, maple bourbon glazed sweet potatoes, dressed arugula</h5>
    	       </div>
    	   
        	    <div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft">Fresh Fish Tacos</span> 
            		    <span id = "makeright">$ 20.00</span> 
            		</h3>
        		    <h5 id ="h5left">handmade flour tortillas, chili aioli, blistered tomato relish, arugula</h5>
        	    </div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Chimichurri Chicken</span> 
            		    <span id = "makeright">$20.00</span> 
            		</h3>
            	    <h5 id = "h5left"> free-range chicken breast, wild mushroom farro, savoy spinach</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> BBQ Pork Ribs</span> 
            		    <span id = "makeright">$ 27.00</span> 
            		</h3>
            		<h5 id ="h5left"> st. louis style, slow cooked, french fries, house slaw</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Grilled Hanger Steak</span> 
            		    <span id = "makeright">$24</span> 
            		</h3>
            	    <h5 id = "h5left"> chimichurri style, mashed potatoes</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            	  <h3>
            		   <span id = "makeleft"> Bistro Cheeseburger</span> 
            		   <span id = "makeright">$16.00</span>
            	   </h3>
        	       <h5 id ="h5left"> fresh ground "Never Ever" angus, tillamook cheddar or pt. reyes blue, 16 housemade pickles, black pepper aioli</h5>
    	       </div>
    	   
        	    <div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Pastrami Sandwich</span> 
            		    <span id = "makeright">$ 18.00</span> 
            		</h3>
        		    <h5 id ="h5left"> house smoked "Never Ever" pastrami, jack cheese, pickles, grilled rye</h5>
        	    </div>
        	    
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Linguine & Shrimp</span> 
            		    <span id = "makeright">$21.00</span> 
            		</h3>
            	    <h5 id = "h5left"> wild pacific shrimp, tomatoes, spinach, garlic </h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Seared Tuna</span> 
            		    <span id = "makeright">$29.00</span> 
            		</h3>
            	    <h5 id = "h5left">cajun spices, pickled onions, white bean and arugula salad</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> "Brick" Chicken</span> 
            		    <span id = "makeright">$24.00</span> 
            		</h3>
            	    <h5 id = "h5left"> free-range chicken, mashed potatoes, za'atar croutons, herb jus</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Vegetarian Mini Pizza</span> 
            		    <span id = "makeright">$11</span> 
            		</h3>
                	<h5 id = "h5left"> with sliced mushrooms, green bell peppers, black olives, white onions and seasoned tomatoes</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Thai Salmon</span> 
            		    <span id = "makeright">$20.00</span> 
            		</h3>
                	<h5 id = "h5left"> spicy thai sauce, white rice, snow peas, carrots, red bell peppers and onions topped with fresh mango salsa</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            	  <h3>
            		   <span id = "makeleft"> Miso Salmon</span> 
            		   <span id = "makeright">$20.00</span>
            	   </h3>
        	       <h5 id ="h5left"> sauteed with a miso citrus glaze and served with white rice, snow peas, carrots, red bell peppers and onions</h5>
    	       </div>
    	   
        	    <div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Grilled Pork Chops</span> 
            		    <span id = "makeright">$ 15.00</span> 
            		</h3>
        		    <h5 id ="h5left"> served with sweetened apples, white cheddar mashed potatoes, and tangy mango sauce</h5>
        	    </div>
        	    
        	    <div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Chicken Marsala</span> 
            		    <span id = "makeright">$ 15.00</span> 
            		</h3>
        		    <h5 id ="h5left"> sauteed with fresh mushrooms and garlic in a rich marsala wine sauce</h5>
        	    </div>
            </div>
         </div>
    
     <hr>

    <h3 style = "color: black; font-size: 40px; text-align: center;"> DESSERT </h3>
        <div class = "container">
            <div class = "row">
               <div class = "col-lg-4 col-sm-6">
            	  <h3>
            		   <span id = "makeleft">Banana Cream Pie</span> 
            		   <span id = "makeright">$10.00</span>
            	   </h3>
        	       <h5 id ="h5left">layers of vanilla bean pastry cream, chocolate, bananas and fresh whipped cream</h5>
    	       </div>
    	   
        	    <div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft">Devil's Food Cake</span> 
            		    <span id = "makeright">$ 10.00</span> 
            		</h3>
        		    <h5 id ="h5left">three layers with rich chocolate ganache, garnished with amarena cherries and whipped cream</h5>
        	    </div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Homemade Ice Cream</span> 
            		    <span id = "makeright">$ 8.00</span> 
            		</h3>
            	    <h5 id = "h5left"> your choice of 3 daily flavors, served with shortbread cookies</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Seasonal Dessert</span> 
            		    <span id = "makeright">$ 10.00</span> 
            		</h3>
            		<h5 id ="h5left"> ask your server for details</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Brownie</span> 
            		    <span id = "makeright">$ 6.00</span> 
            		</h3>
            	    <h5 id = "h5left"> baked to order and topped with vanilla bean ice cream and hot fudge</h5>
            	</div>
            	
            	<div class = "col-lg-4 col-sm-6">
            		<h3>
            		    <span id = "makeleft"> Tiramisu</span> 
            		    <span id = "makeright">$ 5.00</span> 
            		</h3>
            		<h5 id ="h5left"> made by combing lady finger biscuits, espresso, mascarpone cheese, eggs, sugar, Marsala wine, rum and cocoa powder</h5>
            	</div>
        </div>
    </div>
    <hr>
</div>
    
<% include ./partials/footer %>