<% include ./partials/header %>

 <div class="news info">
    <div class="caption">
        <span class = "border">
          <h3 style  ="font-size: 50px; color: white;"> <strong> NEWS </strong></h3>
        </span>
    </div>
</div>

<div class = "intro">
    <h3 style = "color: black; font-size: 40px;" class = "textal"> What our customer's have to say </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras bibendum scelerisque euismod. 
        Mauris sed felis vehicula, imperdiet lorem eu, pretium lorem. Vivamus tristique arcu sed lacus accumsan gravida. Suspendisse potenti. 
        In semper varius ipsum eget hendrerit. Duis vitae elementum tellus. Phasellus erat lacus, ultricies vel euismod non, auctor quis sem. 
        Etiam accumsan velit nec bibendum bibendum. Vivamus pretium quam risus, vel sollicitudin nibh eleifend ac. 
        Maecenas sit amet ligula pulvinar, tincidunt dolor sit amet, porttitor dolor. Sed congue lectus arcu, sed congue lorem bibendum vitae. 
        Pellentesque porttitor leo eget orci tristique rutrum. Praesent venenatis iaculis eleifend. Cras id ante eleifend, luctus odio nec, placerat ex.
    </p>
    <p>
        Aenean tristique, purus ut congue sagittis, nibh augue lobortis elit, at cursus nisi orci at neque. 
        Sed est dui, molestie sit amet ante quis, efficitur iaculis enim. Pellentesque varius cursus magna quis rutrum. 
        Curabitur iaculis faucibus mauris ut efficitur. Suspendisse potenti. Donec eu nisi a massa ultrices pulvinar. 
        Duis vitae velit eu odio eleifend faucibus id a ipsum.
    </p>
    <p>
        Nunc sodales nisl at dolor tempus, eget tristique urna venenatis. Aenean porttitor finibus leo, eget varius ipsum finibus porta. 
        Phasellus ullamcorper lacinia nulla, non viverra urna sodales vel. Suspendisse consectetur dui diam, at gravida massa ultrices quis. 
        Donec cursus risus nec massa viverra, vel ultricies velit feugiat. In non elit in enim dictum accumsan. Suspendisse potenti. 
        Suspendisse vitae quam nisl. Nulla interdum, magna eget maximus rhoncus, tortor turpis tempus risus, sed scelerisque erat turpis pellentesque turpis.
    </p>
    <p>
        In eu ullamcorper risus, vitae placerat metus. Nulla facilisi. In pellentesque ultricies aliquet. Donec rutrum varius diam eu aliquam. 
        Curabitur semper elit hendrerit dapibus lacinia. In rutrum lacus lectus, in porta nisl condimentum non. Fusce vel ullamcorper tellus.
    </p>
    <p>
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam nulla orci, varius non leo ut, tempor pretium lorem. 
        Phasellus in urna mattis, varius nunc tempus, tempor orci. Integer et arcu faucibus, feugiat nisl sodales, tristique arcu. 
        Mauris et tellus id lectus sollicitudin sollicitudin. Morbi nec elit quis enim laoreet pellentesque eu a diam. 
        Phasellus mollis, metus et sollicitudin fermentum, mi enim rhoncus velit, sit amet faucibus eros ante non nisi. 
        Maecenas libero nisi, finibus at imperdiet a, luctus mattis sapien. Maecenas porttitor eu purus a ullamcorper. 
        Quisque aliquet ligula at lectus luctus maximus. Quisque molestie porttitor ex, a convallis magna ultricies vel. Duis dapibus rhoncus commodo. 
        Phasellus tempor, massa elementum ultrices elementum, magna tortor ornare dolor, sagittis pretium magna nunc ac est.
    </p>
</div>

&emsp;


<% include ./partials/footer %>