<% include ./partials/header %>

 <div class="reserve info">
    <div class="caption">
        <span class = "border">
          <h3 style  ="font-size: 50px; color: white;"> <strong> RESERVATION </strong></h3>
        </span>
    </div>
</div>

<div class = "intro textal">
    <h3 style = "color: black; font-size: 40px;"> Make a Reservation </h3>
    <p>Powered by OpenTable</p>
    <a href = "http://www.opentable.com/galli-restaurant-soho-reservations-new-york?restref=95107" target ="_blank">
        <button class = "btn btn-primary btn-lg">Find a Table</button>
    </a>
</div>

&emsp;

<div class = "container">
    <div class = "row">
        <div class = "col-lg-6">
            <h3>By Phone </h3>
            <p>Prefer to make your reservation via phone? You can make a reservations by calling (999) 999-9999 between 10am and noon. </p>
        </div>
        <div class = "col-lg-6">
            <h3> Special Events & Private Parties </h3>
            <p>Catering and Events are opportunities for us to work more closely with our guests, occasions for us to share our dedication to celebration in exciting new ways. </p>
        </div>
        
        &emsp;&emsp;
    
        <div class = "col-lg-12">
            <div class = "party info"> </div>
        </div>
        
        <div class = "col-lg-6">
            <h3>The Big Room</h3>
            <h4> Seats upto 50</h4>
            <p>Phasellus porttitor molestie bibendum. Phasellus non hendrerit justo. Ut facilisis imperdiet tortor vel pharetra. 
            Donec eu venenatis ex. Sed scelerisque massa ac eros venenatis pulvinar. Phasellus dictum enim quis dictum scelerisque. 
            Nunc dictum malesuada risus sed ornare. Aliquam iaculis erat eu mi ornare elementum vitae a ligula. 
            Etiam finibus vehicula velit quis auctor. Aliquam vulputate est nec laoreet sagittis. Fusce accumsan malesuada mattis.
            Nam lobortis lobortis nisl sed cursus. Nullam aliquam faucibus bibendum. Praesent gravida dui a mi tincidunt, ac lobortis mauris ultrices. 
            Quisque auctor dolor at convallis posuere.</p>
            
        </div>
         <div class = "col-lg-6">
            <h3>The Small Room</h3>
            <h4>Seats upto 15</h4>
            <p>Phasellus porttitor molestie bibendum. Phasellus non hendrerit justo. Ut facilisis imperdiet tortor vel pharetra. 
            Donec eu venenatis ex. Sed scelerisque massa ac eros venenatis pulvinar. Phasellus dictum enim quis dictum scelerisque. 
            Nunc dictum malesuada risus sed ornare. Aliquam iaculis erat eu mi ornare elementum vitae a ligula. 
            Etiam finibus vehicula velit quis auctor. Aliquam vulputate est nec laoreet sagittis. Fusce accumsan malesuada mattis.
            Nam lobortis lobortis nisl sed cursus. Nullam aliquam faucibus bibendum. Praesent gravida dui a mi tincidunt, ac lobortis mauris ultrices. 
            Quisque auctor dolor at convallis posuere.</p>
            
        </div>
    </div>
    <h3 class = "textal">&emsp;&emsp; Call (999) 999-9999 to reserve either room for your reception or party.</h3>
</div> 



<% include ./partials/footer %>